/.gcroots/
*__pycache__/
/CompCert/
/software-foundations
/coq/
/coq-serapi/
/software-foundations/
/darknet/
*.aux
*.glob
*.swp
*.vo
/coq-menhirlib/
/data/*scrape*.txt
/data/scrape.bkp
*report*
*weights*
*.mypy_cache/*
*/.mypy_cache
*.pickle
reports/index.css

*/.mypy_cache/*
.DS_Store
